{% extends 'base.html' %}
{% load staticfiles %}
{% block top_title %}
{{year }} TRAININGS AND CERTIFICATIONS
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}
<section class="content-header">
      <h1>
         {{user.userprofile.user_category}} PORTAL
        <small> <font color="green"><b>You are here >></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Messages</a></li>
       
      </ol>
    </section>
    {% endblock %}
     {% block table_title %}
            

                       <div class="row">
     <div class="col-md-5">
              <h3 class="box-title  btn-red">MESSAGES
</h3>
</div>
<div class="col-md-7">

              </div>
              </div>
            {% endblock %}
{% block content %}
 <div class="row">
 
 <div class="col-md-2" >
 
    
 </div>
</div>
 <table id="example" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>Date Sent</th>
                  <th>Recipient</th>
                  <th>Subject</th>
                  <th>Message</th>      
                </tr>
                </thead>
                <tbody>
                {% for message in broadcasts %}
                <tr>
                  <td>{{message.timestamp}}</td>
                  <td>{{message.recipient}}</td>
                  <td>{{message.subject}}</td>
                  <td>{{message.message}}</td>
                  <!-- <td>{{leave.number_of_days}}</td>
                  <td>{{leave.leave_details}}</td> -->

                  
                  
                </tr>
                {% endfor %}

                {% for message in male_broadcasts %}
                <tr>
                  <td>{{message.timestamp}}</td>
                  <td>{{message.recipient}}</td>
                  <td>{{message.subject}}</td>
                  <td>{{message.message}}</td>
                  <!-- <td>{{leave.number_of_days}}</td>
                  <td>{{leave.leave_details}}</td> -->

                  
                  
                </tr>
                {% endfor %}
               

                {% for message in men_broadcasts %}
                <tr>
                  <td>{{message.timestamp}}</td>
                  <td>{{message.recipient}}</td>
                  <td>{{message.subject}}</td>
                  <td>{{message.message}}</td>
                  <!-- <td>{{leave.number_of_days}}</td>
                  <td>{{leave.leave_details}}</td> -->

                  
                  
                </tr>
                {% endfor %}
                
               </tbody>
  </table>



  
  


    <!-- /.content -->{% endblock %}
  
  {% block tables_js_script %}
  <!-- DataTables -->
 <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static 'rescripts/jquery.dataTables.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'rescripts/buttons.dataTables.min.css' %}"> 

<script type="text/javascript" src="{% static 'rescripts/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'rescripts/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rescripts/buttons.colVis.min.js' %}"></script>
<script src="{% static 'rescripts/buttons.flash.min.js' %}"></script> 
<script src="{% static 'rescripts/jszip.min.js' %}"></script> 
<script src="{% static 'rescripts/pdfmake.min.js' %}"></script> 
<script src="{% static 'rescripts/vfs_fonts.js' %}"></script> 
<script src="{% static 'rescripts/buttons.html5.min.js' %}"></script> 
<script src="{% static 'rescripts/buttons.print.min.js' %}"></script> 
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [

            {

                extend: 'colvis',
                postfixButtons: [ 'colvisRestore' ]
            },
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },

        ],
        columnDefs: [
            // { "visible": false, "targets": [1,2] }
        ]
    } );
} );
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}
