{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3%}
{% block top_title %}
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}

    {% endblock %}
    {% block table_title %}
            

                       <div class="row">
     <div class="col-md-5">
              <h3 class="box-title  btn-red">Training Feedback
</h3>
</div>

              </div>
            {% endblock %}

{% block content %}
 <div class="row">
 
 <div class="col-md-1">

<input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-sm btn-success" type="button" value="Back" />
</div>

</div>


<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
  <h4 style="color: red;"><strong>PRESIDENTIAL DIGITALENT TRAINING FEEDBACK FORM </strong></h4>

<hr style="background-color: red; height: 1px; border: 0; ">
<form  method="POST" action="" class="form" enctype="multipart/form-data">
 {% csrf_token %}
 <br>
 <label>Training/Certification</label><br>
 <input type="" name="training" class="form-control" value="{{training.course.course}}" readonly=""><br>
 <label>Training/Certification Feedback </label><br>
 <textarea class="form-control" rows="6" name="feed"></textarea><br>

            
          
           
           {% buttons %}
    <button type="submit" class="button btn btn-primary btn-sm" style="float: center;">
     submit
      </button>
  {% endbuttons %}
           </div>
           
           
           


             


</form>
</div>
<div class="col-md-2">
</div>
</div>

{% endblock %}

