{% extends "account/passbase.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% load i18n %}
{% block content %}

<div class="row" >

  <div class="col-md-3" >
</div>
<div class="col-md-6" >

{% block messsages %}    
    
    {% if messages %}
    
      <ul>
	{% for message in messages %}
	
    <div class="alert alert-success ">
    <p>{{message}}</p>
     </div>
    
	{% endfor %}
      </ul>
    {% endif %}
    
  {% endblock %}{# end messages block section #}

<p class="text-center">You must first change your default password</p>
<form method="post" id="passwordForm" action="{% url 'password_change' %}" onsubmit="return myFunction()" class="contact_form">
{% csrf_token %}
<div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
            
        
           <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" id="password2"  name=password2" placeholder="Confirm Password" onkeyup="checkPass(); return false;">
            <span id="confirmMessage" class="confirmMessage"></span>
    </div>
<input type="submit" class="col-xs-12 btn btn-success btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
</form>
</div>
<div class="col-md-3">
</div>
</div>

<script>
function myFunction() {
    var password = document.getElementById("password").value;
    var password2 = document.getElementById("password2").value;
    var ok = true;
    if (password != password2) {
        //alert("Passwords Do not match");
        document.getElementById("password").style.borderColor = "#E34234";
        document.getElementById("password2").style.borderColor = "#E34234";
        ok = false;
       
    }
    else {
        
    }
    return ok;
}
 function checkPass()
{
    //Store the password field objects into variables ...
    var password = document.getElementById('password');
    var password2 = document.getElementById('password2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(password.value == password2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        password2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        password2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}  

</script>
{% endblock %}
