{% extends 'base.html' %}
{% load staticfiles %}
{% block top_section %}
<section class="content-header">
      <h1>
         SECRETARIAT PORTAL
        <small> <font color="green"><b>You are here >></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        
       
      </ol>
    </section>

 <div class="row">
 <section class="col-lg-6 connectedSortable">
                            <!-- Map box -->
                            <div class="box box-primary">
                                <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-envelope"></i>
                                    <h3 class="box-title">Quick Email</h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                                    </div><!-- /. tools -->
                                </div>
                                <div class="box-body">
                                    <form action="#" method="post">
                                        <div class="form-group">
                                        <label> Email To</label>
                                            <select  class="form-control">
                                    <option value="volvo">Metors</option>
                                       <option value="saab">PDTP Female</option>
                                         <option value="vw">PDTP Male</option>
                                   <option value="audi" selected>All PDTP</option>
                                   <option value="audi" selected>Supervisors</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject"/>
                                        </div>
                                        <div>
                                            <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="box-footer clearfix">
                                    <button class="pull-right btn btn-default" id="sendEmail">Send <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                            </div>
                            </div>
                            <!-- /.box -->

                            

                            <!-- TO DO List -->
                            
                               
                        </section>
                        <!-- Left col -->
                        <section class="col-lg-6 connectedSortable"> 
                            <!-- Box (with bar chart) -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <i class="ion ion-clipboard"></i>
                                    <h3 class="box-title">Pending Issues</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul class="todo-list">
                                        <li>
                                            <!-- drag handle -->
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>  
                                            <!-- checkbox -->
                                                         
                                            <!-- todo text -->
                                            <span class="text">Bank Details Updates Requests</span>
                                            <!-- Emphasis label -->
                                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 </small>
                                            <!-- General tools such as edit or delete-->
                                        </li>
                                        <li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>                                            
                                            <span class="text">Program Exit Requests</span>
                                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 4 </small>
                                        </li>
                                        <li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                            <span class="text">Innovations </span>
                                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 1 </small>
                                        </li>
                                        <li>
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                        
                                            <span class="text">Escalated Issues</span>
                                            <small class="label label-success"><i class="fa fa-clock-o"></i> 3 days</small>
                                        </li>
                                        
                                    </ul>
                                </div><!-- /.box-body -->       
                            
                            
                            
                            

                        </section><!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <!-- right col -->
                        </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <style type="text/css">
${demo.css}
        </style>
    {% endblock %}
     {% block table_title %}
             
            {% endblock %}s
{% block content %}
 <!-- Small boxes (Stat box) -->
                    <div class="row">
            <!-- ./col -->
                        <div class=" col-md-3 ">
                            <!-- small box -->
                           <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



        <script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'PARTNER ORGANIZATIONS'
    },
    xAxis: {
        categories: [
            'Public',
            'Private',
            'Public',
            
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            borderWidth: 0
        }
    },
    series: [{
        name: 'ORGANIZATIONS',
        data: [{{public.count}}, {{private.count}}]

    }]
});
        </script>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                          
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <!--
                                       <div id="pdtp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



        <script type="text/javascript">

Highcharts.chart('pdtp', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'PDTPS'
    },
    xAxis: {
        categories: [
        {% for year in years %}
            '{{year}}',
            {% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            borderWidth: 0
        }
    },
    series: [{
        name: 'PDTPS',

        data: [{% for year in years %}{{pdtp.count}},{% endfor %}]

    }]
});
        </script>-->
                        </div><!-- ./col -->
                    </div><!-- /.row -->


                              <!-- Main row -->

                    

  {% endblock %}
