

<h1>PUBLIC SECTOR</h1>
<h4>Ministry Reports and Attendance</h4>
 <table class="table">
                    <tbody>
                      {% if pdtp.ministryreport %}
                      <tr>
                        <td>Days Attended</td>
                        <td>{{pdtp.ministryreport.attendance}}</td>
                        <!--<td>Score:</td>
                        <td>{{pdtp.ministryreport.report.score}}</td>
-->
                      </tr>
                      
                      <tr>
                        <td>Qarterly Meetings attended</td>
                        <td>{{pdtp.ministryreport.meeting}}</td>
                        <!--<td>Score:</td>
                        <td>{{pdtp.ministryreport.report.score}}</td>
-->
                      </tr>
                      <tr>
                        <td>Quarterly Reports Submitted </td>
                        <td>{{pdtp.ministryreport.report }}</td>
                        <!--<td>Score:</td>
                        <td>{{pdtp.ministryreport.report.score}}</td>
-->
                      </tr>
                      {% else %}
                      Intern has not submitted this data
                      {% endif %}
                

                     
                    </tbody>
                  </table>


            <h4>Public Sector Assignments</h4>
                  <table class="table">
                    {% if pdtp.workassignmentevidence_set.all %}
                    <thead>
                      <th>Poject</th>
                      <th>Description</th>
                      <th>Link</th>
                    </thead>
                    <tbody>
                      {% for work in pdtp.workassignmentevidence_set.all %}
                      <tr>
                        <td>{{work.project_name}}</td>
                        <td>{{work.description}}</td>
                        <td>{{work.link}}</td>
                      
                      </tr>
                    {% endfor %}
                      {% else %}
                      Intern has not submitted this data
                      {% endif %}
                     
                    </tbody>
                  </table>

                  <h4>Additional Activities Initiated by ICTA/Other government body </h4>
                  <table class="table">
                    {% if pdtp.additionalactivity_set.all %}
                    <thead>
                      <th>Poject</th>
                      <th>Task/Role</th>
                      <th>Description</th>
                      <th>Link</th>
                    </thead>
                    <tbody>
                      {% for work in pdtp.additionalactivity_set.all %}
                      <tr>
                        <td>{{work.project_name}}</td>
                        <td>{{work.task}}</td>
                        <td>{{work.description}}</td>
                        <td>{{work.link}}</td>
                      
             
                    {% endfor %}
                      {% else %}
                      Intern has not submitted this data
                      {% endif %}
                      <tr>
                    </tbody>
                  </table>

                  <h4>Project Transformation(Flagship/Specifi Ministry Project) </h4>
                  <table class="table">
                    {% if pdtp.transformation_set.all %}
                    <thead>
                      <th>Ministry</th>
                      <th>Poject</th>
                      <th>Role/Task</th>
                      <th>Description</th>
                      <th>Link</th>
                    </thead>
                    <tbody>
                      {% for work in pdtp.transformation_set.all %}
                      <tr>
                        <td>{{work.ministry}}</td>
                        <td>{{work.project_name}}</td>
                        <td>{{work.task}}</td>
                        <td>{{work.description}}</td>
                        <td>{{work.link}}</td>
                      
                      </tr>
                    {% endfor %}
                      {% else %}
                      Intern has not submitted this data
                      {% endif %}
                
                    </tbody>
                  </table>
      
        <h4>Supervisor Evaluation</h4> 
                  <table class="table table-user-information">
                    <tbody>
                      {% for work in pdtp.publicsupervisorevaluation_set.all %}
                      <tr>
                        <td>Parametor:</td>
                        <td>{{work.parameter}}</td>
                        <td>Score:</td>
                        <td>{{work.score}}</td>

                      </tr>
                      {% endfor %}
                      


                     
                    </tbody>
                  </table>  
                <h4>Supervisor Comment</h4> 
                {{pdtp.buddycomment.comment }}
                  

 <h1>PRIVATE SECTOR</h1>
 <h4>Private Sector Attachment Reports</h4>


  {% if pdtp.privatesectorattendance %}
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Completed 2 months Private Sector attachment?</td>
                        <td>{{pdtp.privatesectorattendance.attendance}}</td>
                        <!--<td>Score:</td>
                        <td>{{pdtp.ministryreport.report.score}}</td>
-->
                      </tr>
                      {% else %}
                      Intern has not submitted this data
                      {% endif %} 
                      </tbody>
                      </table>



                 <h4>Projects done while in private sector </h4>
                  <table class="table">
                    
                    <thead>
                      <th>Project</th>
                 
                      <th>Description</th>
                      <th>Link</th>
             
                    </thead>
                    <tbody>
                      {% for work in pdtp.privateproject_set.all %}
                      <tr>
                        <td>{{work.project_name}} </td>
                       
                        <td>{{work.description}}</td>
                          <td>{{work.link}}</td>
                    
                      
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>  



                <h4>Trainings done while in Private Sector </h4>
                  <table class="table">
                    
                    <thead>
                      <th>Course Title</th>
                 
                      <th>Description</th>
             
                    </thead>
                    <tbody>
                      {% for work in pdtp.privateonjobtraining_set.all %}
                      <tr>
                        <td>{{work.subject}} </td>
                       
                        <td>{{work.description}}</td>
                    
                      
                      </tr>

                    {% endfor %}

                     {% for work in pdtp.privatetraining_set.all %}
                      <tr>
                        <td>{{work.subject}} </td>
                       
                        <td>{{work.description}}</td>
                    
                      
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>  
                  <h4>Supervisor Evaluation</h4> 
                  <table class="table table-user-information">
                    <tbody>
                      {% for work in pdtp.privatesupervisorevaluation_set.all %}
                      <tr>
                        <td>Parametor:</td>
                        <td>{{work.parameter}}</td>
                        <td>Score:</td>
                        <td>{{work.score}}</td>

                      </tr>
                      {% endfor %}
                      


                     
                    </tbody>
                  </table> 
                   <h4>Supervisor Comment</h4> 
                {{pdtp.supervisorcomment.comment }}

    <h1>Trainings and Certifications Reports</h1>

     <table class="table">
                    {% if pdtp.training_set.all %}
                    <thead>
                      <th>Certification Body</th>
                  <th>Category</th>
                  <th>Mode</th>
                  <th>Course</th>
                  <th>Status</th>
                  <th>Certificate</th>
                  <th>Certificate No</th>
                    </thead>
                    <tbody>
                      {% for work in pdtp.training_set.all %}
                      <tr>
                    
                  <td>{{work.institution}}</td>
                  <td>{{work.course.category}}</td>
                  <td>{{work.mode}}</td>
                  <td>{{work.course}}</td>
                  <td>{{work.status}}</td>
                  <td>{{work.cert}}</td>
                  <td>{{work.cert_no}}</td>
                      
                      </tr>
                    {% endfor %}
                      {% else %}
                      Intern has not submitted this data
                      {% endif %}
                      <tr>
                    </tbody>
                  </table>       

 <h1>Mentorship Reports</h1>


                  <table class="table table-user-information">
                    <tbody>
                      {% for work in pdtp.mentorevaluation_set.all %}
                      <tr>
                        <td>Parametor:</td>
                        <td>{{work.parameter}}</td>
                        <td>Score:</td>
                        <td>{{work.score}}</td>

                      </tr>
                      {% endfor %}
                      


                     
                    </tbody>
                  </table> 
                   <h4>Mentor's Comment</h4> 
                {{pdtp.mentorcomment.comment }}
                              
<h1>Innovations Reports</h1>

<table class="table table-user-information">
                    <tbody>
                      
                      <tr>
                        <td>Initiative:</td>
                        <td>{{pdtp.innovationevaluation.initiative}}</td>

                        <td>Presentation:</td>
                        <td>{{pdtp.innovationevaluation.presentation}}</td>
                        
                        <td>Evaluation:</td>
                        
                        <td>{{pdtp.innovationevaluation.evaluation}}</td>

                      </tr>
                     
</tbody>
</table>
             
