{% load staticfiles %}	
<link href="{% static "login/bootstrap/css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all"  />
<!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
<script src="{% static "login/js/jquery-1.11.0.min.js" %}"></script>





 
<!-- Data tables resource start -->

{% block fb_meta_tags %}{% endblock %}
<!--Custom-Theme-files-->
<!--theme-style-->
<link href="{% static "login/css/style.css" %}" rel="stylesheet" type="text/css" media="all"  />	
<!--//theme-style-->


<!--start-menu-->
<script src="{% static "login/js/simpleCart.min.js" %}"> </script>
<link href="{% static "login/css/memenu.css" %}" rel="stylesheet" type="text/css" media="all"  />
<script type="text/javascript" src="{% static "login/js/memenu.js" %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
<!--dropdown-->
<script src="{% static "login/js/jquery.easydropdown.js" %}"></script>
<link href="{% static "login/css/custom.css" %}" rel="stylesheet" type="text/css" media="all"  />

<style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>

  <!-- Google Webmaster Tools -->
  <meta name="google-site-verification" content="nxUkdFAdJ_Aw6xLU4MRZDM0YW8cvMDw2BDvoVfnTQhY" />
				
</head>	
