<div class="header-bottom " data-spy="affix" data-offset-top="10">
		<div class="container">
			<div class="header">
				<div class="col-md-12 header-left">
				<div class="top-nav">
					<ul class="memenu skyblue" style="color: #fff;"><li class="active"><a href="/">Home</a></li>
						<li class="grid"><a href="{% url 'about' %}">About</a>
						</li>
						<li class="grid"><a href="{% url 'jobs' %}">Jobs</a>
						</li>
						<li class="grid"><a href="{% url 'labourdemand' %}">Labour Demand</a>
							
						</li>
						<li class="grid"><a href="{% url 'supply' %}">Labour Supply</a>
						</li>
						<li class="grid"><a href="{% url 'training_index' %}">Training</a>
							
						</li>
						<li class="grid"><a href="{% url 'labour_market_service' %}">Labour Market Services</a>
						</li>
						<li class="grid"><a href="{% url 'resources' %}">Resources</a>
						</li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<hr style="margin-top: 10px; margin-bottom: 10px;">
