{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
  $primary-color: #ccc;
$col-bg-color: #eee;
$col-footer-bg-color: #eee;
$col-header-bg-color: #007bff;
$col-content-bg-color: #fff;


.custom-column {  
  background-color: $col-bg-color;
  border: 5px solid $col-bg-color;    
  padding: 10px;
  box-sizing: border-box;  
}

.custom-column-header {
  font-size: 24px;
  background-color: green;  
  color: white;
  text-align: center;
}

.custom-column-content {
  background-color: $col-content-bg-color;
  border: 2px solid white;  
  padding: 20px;  
}

.custom-column-footer {
  background-color: $col-footer-bg-color;   
  padding-top: 20px;
  text-align: center;
}
</style>

      <section class="main-container padding-bottom-clear">

        <div class="container" style="min-height: 400px">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">
              <div class="row">
                {% for speciality in specialities %}
                <div class="col-md-6 center-block text-center">
                  <div class="custom-column" align="center">
        <div class="thumbnail well">
               
                <div class="caption">
                  <h3>{{speciality.speciality|title}} Experts <span style="color: green"> ({{speciality.userprofile_set.count}})</span> </h3>
                  <p>{{speciality.description|safe}}</p>
                  <p align="center"><a href="{% url 'experts_by_category' speciality.slug %}" class="btn btn-success ">View</a></p>
                </div>
              </div>
        
      </div>
</div>
<hr>
{% endfor %}
</div>      
   </div>     
   </div>      
        

       
        <!-- section end -->

      </section>
      <!-- main-container end -->

    
{% endblock %}