{% extends 'landing/base.html' %}
{% load staticfiles %}
{% block content %}
      <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow" style="min-height: 450px">

          <!-- slider revolution start -->
          <!-- ================ -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <!-- ================ -->
                
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Next">

                <!-- main image -->
                <img src="{% static '5.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="[50,90,90,90]"
                  data-start="1000"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1050;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <!-- Welcome to Our Website -->
                </div>

                <!-- LAYER NR. 2 -->
                <!-- <div class="tp-caption large_white hidden-md-down"
                  data-x="center"
                  data-y="90"
                  data-start="1300"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light with-icon"><i class="fa fa-balance-scale bordered"></i></div>
                </div>
 -->
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white"
                  data-x="center"
                  data-y="190"
                  data-start="1300"
                  data-width="650"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:700;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><!-- We develop cross-platform  applications for organizations, individuals and companies.  -->
                </div>

                </li>
               
                <li class="text-center" data-transition="crossfade" data-slotamount="default" data-masterspeed="default" data-title="Next">

                <!-- main image -->
                <img src="{% static '4.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white"
                  data-x="center"
                  data-y="[50,90,90,90]"
                  data-start="1000"
                  data-width="750"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1050;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                    <!-- Welcome to Our Website -->
                </div>

                <!-- LAYER NR. 2 -->
                <!-- <div class="tp-caption large_white hidden-md-down"
                  data-x="center"
                  data-y="90"
                  data-start="1300"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light with-icon"><i class="fa fa-balance-scale bordered"></i></div>
                </div>
 -->
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white"
                  data-x="center"
                  data-y="190"
                  data-start="1300"
                  data-width="650"
                  data-whitespace="normal"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:700;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><!-- We develop cross-platform  applications for organizations, individuals and companies.  -->
                </div>

                </li>
                <!-- slide 1 end -->

                <!-- slide 2 start -->
                <!-- ================ -->
                
                <!-- slide 2 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section dark-bg clearfix" style="background-color: red;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="call-to-action">
                <div class="row">
                  <div class="col-md-8">
                    <h3 class="mt-10">
A transformed country and an engaged citizenry through innovative and sustainable ICT skill development.
</h3>
                  </div>
                  <div class="col-md-4 text-right">
                    <a href="{% url 'request_interns' %}" class="btn btn-lg btn-default btn-animated">Request for Interns<i class="fa fa-arrow-right pl-20"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-12">
              <h1 style="color: green" class="text-center mt-4">Who we are</h1>
              <div class="separator"></div>
              <p class="text-center">DigiTalent is the brand name for the Presidential Digital Talent Programme (PDTP), an internship programme that develops the ICT talent pool in Kenya through a collaboration between the public and private sectors. It is a partnership between government, public and private sector stakeholders and is to be implemented by the Ministry of Information Communications and Technology (MoICT) through the ICT Authority (ICTA). It is borne out of the need for government to enhance its capacity to use ICT in effective public service delivery. It also provides a training ground for potential employees and an affordable labour pool of freshly qualified individuals in government offices. Targeting recent graduates, PDTP offers participants an opportunity to understand government services, and provides them with a chance to contribute towards improving service delivery to Kenyan citizens... </p>
              <p>
              <br>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h1 style="color: green" class="text-center mt-4">Our Impact</h1>
            </div>
          </div>
          
          <!-- section start -->
      <!-- ================ -->
      <section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-6">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-3 col-6 text-center">
              <div class="hc-item-box">
                <span class="icon without-bg"><i class="fa fa-users"></i></span>
                <span class="counter" >900 +</span>
                <h3><strong>Graduates</strong></h3>
                
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="hc-item-box">
                <span class="icon without-bg"><i class="fa fa-users"></i></span>
                <span class="counter" >71%
</span>
                <h3><strong>employed within 90 days after program completion</strong></h3>
                
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="hc-item-box">
                <span class="icon without-bg"><i class="fa fa-cog"></i></span>
                <span class="counter" >30 +</span>
                <h3><strong>Innovations Implemented</strong></h3>
              
              </div>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <div class="hc-item-box">
                <span class="icon without-bg"><i class="fa fa-binoculars"></i></span>
                <span class="counter" >80%</span>
                <h3><strong>
of employers would hire our graduates again</strong></h3>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
<br />
          <div class="row">
            <div class="col-lg-6" >
              <div class="pv-20 ph-20 hc-item-box-2 boxed hc-shadow-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                <div class="body" style="min-height: 200px; max-height: 200px">
                  <h4 class="title">Program Benefits</h4>
               <p>PDTP is beneficial in the following ways</p>
<ol>
<li>Increased youth employability.</li>
<li>Improved Public/Private sector collaboration.</li>
<li> Accelerated economic impact through ICT effectiveness.</li>
<li> Enhanced service delivery by leveraging on ICT.</li>
<li>Support ICTA’s contribution to GDP projected to be 8% of GDP by 2017 as outlined in the ICT Masterplan.</li>
</ol>
           
                </div>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="pv-20 ph-20 hc-item-box-2 boxed hc-shadow-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                <div class="body" style="min-height: 200px; max-height: 200px">
                  <h4 class="title">Our Focus</h4>
                  <ol>
                  <li>Leadership development to develop ICT leaders in government management staff by entrenching them with ICT business principles to effectively run ICT structures.</li>
<li> ICT technical capacity development by training freshly qualified graduates through an internship programme to develop a ready and affordable pool of ICT talent for government.</li>
</ol>
                 
                </div>
              </div>
            </div>
          
          </div>
         
          
        </div>
      </section>
     
     
     {% endblock %}