{% extends 'base.html' %}
{% load staticfiles %}
{% block top_title %}
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}
<section class="content-header">
      <h1>
        Report Comments SUBMITTED
        <small> <font color="green"><b></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Mentorship Report Comments
</h3></a></li>
       
      </ol>
    </section>
    {% endblock %}
             {% block table_title %}
     

              <div class="row">
     <div class="col-md-1">
     </div>
     <div class="col-md-8">
              <h3 class="box-title button btn btn-red">Mentorship Report Comments</h3>
</div>
<div class="col-md-1">
              </div>
              </div>
            {% endblock %}

{% block content %}

<br>
<div class="table-responsive">
 <table id="example" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>Intern</th>
                  <th>Mentor</th>
                  <th>Parameter</th>
                  <th>Report</th>
                  <th>Commments</th>
                  <th>Date Submitted</th>
                  
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                
                <tr>
                  <td>{{comment.mentee.last_name}} {{comment.mentee.first_name}}</td>
                  <td>{{comment.mentor.last_name}} {{comment.mentor.first_name}}</td>
                  <td>{{comment.parametor|safe}}</td>
                  <td>{{comment.mentorship_report|safe}}</td>
                  <td>{{comment.comment|safe}}</td>
                  <td>{{ comment.date_submitted|safe }}</td>
                  
                 
                  
                </tr>
               {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  
  {% block tables_js_script %}
  <!-- DataTables -->
 <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'rescripts/jquery.dataTables.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'rescripts/buttons.dataTables.min.css' %}"> 

<script type="text/javascript" src="{% static 'rescripts/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'rescripts/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rescripts/buttons.colVis.min.js' %}"></script>
<script src="{% static 'rescripts/buttons.flash.min.js' %}"></script> 
<script src="{% static 'rescripts/jszip.min.js' %}"></script> 
<script src="{% static 'rescripts/pdfmake.min.js' %}"></script> 
<script src="{% static 'rescripts/vfs_fonts.js' %}"></script> 
<script src="{% static 'rescripts/buttons.html5.min.js' %}"></script> 
<script src="{% static 'rescripts/buttons.print.min.js' %}"></script> 
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50,100,150, -1 ],
            [ '10 rows', '25 rows', '50 rows','100 rows','150 rows', 'Show all' ]
        ],
        buttons: [

            {

                extend: 'colvis',
                postfixButtons: [ 'colvisRestore' ]
            },
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },

        ],
        
    } );
} );
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}
