{% extends 'base.html' %}
{% load staticfiles %}
{% block top_title %}
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}
<section class="content-header">
      <h1>
        Requsts for Interns
        <small> <font color="green"><b></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Requsts for Interns
</h3></a></li>
       
      </ol>
    </section>
    {% endblock %}
    {% block table_title %}
            

                       <div class="row">
     <div class="col-md-5">
              <h3 class="box-title  btn-red">PARTNERSHIP REQUESTS
</h3>
</div>
<div class="col-md-7">
              </div>
              </div>
            {% endblock %}

{% block content %}
 <div class="row">
 <div class="col-md-1">

<input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-sm btn-success" type="button" value="Back" />
</div>

</div>
<div class="table-responsive">
 <table id="example" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Partner/Company</th>
                  <th>Company Profile</th>
                  <th>Partnership Type</th>
                  <th>Contact Person</th>
                  <th>Cell Phone</th>
                  
                  <th>Email</th>
                  <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for cours in requests %}
                
                <tr>
                  <td>{{cours.date_submitted}}</td>
                  <td>{{cours.company}}</td>
                   <td>{{cours.profile}}</td>
                  <td>{{cours.partnership}}</td>
                  <td>{{cours.contact_person}}</td>
                  
                  <td>{{cours.contact}}</td>
                  <td>{{cours.email}}</td>
                  <td>{{cours.details}}</td>
                 
                 
                 
                  
                  
                </tr>
               {% endfor %}
</tbody>
</table>
</div>

{% endblock %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  
  {% block tables_js_script %}
  <!-- DataTables -->
 <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static 'rescripts/jquery.dataTables.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'rescripts/buttons.dataTables.min.css' %}"> 

<script type="text/javascript" src="{% static 'rescripts/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'rescripts/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rescripts/buttons.colVis.min.js' %}"></script>
<script src="{% static 'rescripts/buttons.flash.min.js' %}"></script> 
<script src="{% static 'rescripts/jszip.min.js' %}"></script> 
<script src="{% static 'rescripts/pdfmake.min.js' %}"></script> 
<script src="{% static 'rescripts/vfs_fonts.js' %}"></script> 
<script src="{% static 'rescripts/buttons.html5.min.js' %}"></script> 
<script src="{% static 'rescripts/buttons.print.min.js' %}"></script> 
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [

            {

                extend: 'colvis',
                postfixButtons: [ 'colvisRestore' ]
            },
            

        ],
        
    } );
} );
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}
