{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>404</title>

		<link rel="stylesheet" href="{% static 'error/css/style.css' %}" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css' />
		
		<script type="text/javascript" src="{% static 'error/js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'error/js/introtzikas.js' %}"></script>
		<script type="text/javascript" src="{% static 'error/js/script.js' %}"></script>
		<script type="text/javascript">
			//<![CDATA[
				$(document).ready(function() {
					$().introtzikas({
							line: 'white', 
							speedwidth: 2000, 
							speedheight: 1000, 
							bg: '#474747',
							lineheight: 2
					});	
				});
			//]]>
		</script>
</head>

<body>

	<img src="{% static 'error/images/bg.jpg' %}" id="bg" alt="" /><!-- Background image -->
	
		<div id="wrap">
			<div id="block">
				<div id="content">
					<div class="top_img">
						<div class="img_eror"></div>
					</div>
					<div class="srch">
						
					</div>
					<div class="text_eror">
						<h1>"Ooops! Page not found..."</h1>
						<p>The page you are looking for might have been removed, had its name changed, temporarily unavailable or you don't have permissions to access it. Please Contact the Website Administrator for help
                         </p>
                        <p> <a href="/">Back to the main Site</a></p>
					</div>
					
					
				</div>
			</div>
		</div>

</body>
</html>
