{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block top_section %}
<section class="content-header">
      <h1>
         {{user.userprofile.user_category}} PORTAL
        <small> <font color="green"><b>You are here >></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Add  Organization</a></li>
       
      </ol>
    </section>
    {% endblock %}
     {% block table_title %}
             <input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-primary btn-sm" type="button" value="Back" />
            {% endblock %}
{% block content %}
    <div class="container">
    <div class="well" style="margin-right: 130px;">
<form  method="POST" action="." class="form">
 {% csrf_token %}

 <div class="row">
 <h3>Organization Details</h3>
 <div class="col-md-4">
{% bootstrap_field form.category %}
</div>
<div class="col-md-4">
{% bootstrap_field form.organization %}
</div>
<div class="col-md-4">
{% bootstrap_field form.location %}
</div>

</div>
 <div class="row">
 <div class="col-md-4">
{% bootstrap_field form.logo %}
</div>
<div class="col-md-4">
{% bootstrap_field form.county %}
</div>
<div class="col-md-4">
{% bootstrap_field form.town %}
</div>

</div>
<div class="row">
<h3>Contact Person Details</h3>
<div class="col-md-3">
{% bootstrap_field uform.last_name %}
</div>
<div class="col-md-3">
{% bootstrap_field uform.first_name %}
</div>
<div class="col-md-3">
{% bootstrap_field sform.position %}
</div>
<div class="col-md-3">
{% bootstrap_field sform.title %}
</div>
</div>
<div class="row">
<div class="col-md-3">
{% bootstrap_field uform.email  %}
</div>
<div class="col-md-3">
{% bootstrap_field cform.alternate_email  %}
</div>
<div class="col-md-3">
{% bootstrap_field cform.phone_number  %}
</div>
<div class="col-md-3">
{% bootstrap_field cform.alternate_cell  %}
</div>
</div>
{% buttons %}
    <button type="submit" class="button btn btn-primary btn-sm" >
      {% bootstrap_icon "glyphicon glyphicon-hand-up" %} Add
    </button>
  {% endbuttons %}
</form>
</div>
</div>
    <!-- /.content -->{% endblock %}
