{% extends 'base.html' %}
{% load staticfiles %}

{% block top_title %}
{{year }} PDTPS LIST
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}
<section class="content-header">
      <h1>
         {{user.userprofile.user_category}} PORTAL
        <small> <font color="green"><b>You are here >></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">PDTPS</a></li>
       
      </ol>
    </section>
    {% endblock %}
     {% block table_title %}
     

              <div class="row">
     <div class="col-md-5">
              <h3 class="box-title button btn btn-red">{{year}} Training Applications
</h3>
</div>
<div class="col-md-7">
{% include 'secretariat/links.html' %}
              </div>
              </div>
            {% endblock %}




{% block content %}
 <div class="row">

 <div class="col-md-1">
  <!--
<a href="" class="button btn btn-primary btn-sm"  onclick="window.history.back()"><span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
-->
<input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-primary btn-sm" type="button" value="Back" />
</div>

</div>
    <div class="table-responsive">
  {% for i in institutions %}
 <h3> <a href="{% url 'get_applications' year   %}">{{i.institution}}</a></h3><br>
  {% endfor %}
 </div>
 

{% endblock %}
