{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
   {% block top_section %}
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Management Portal</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">PDTPS</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                 {% endblock %}
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                 <!-- .row -->
                 <div class="white-box">
    <div class="row">

 <div class="col-md-1 col-sm-1 col-xs-4">
  <!--
<a href="" class="button btn btn-primary btn-sm"  onclick="window.history.back()"><span class="glyphicon glyphicon-chevron-left"></span> Back
        </a>
-->
<input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-primary btn-sm" type="button" value="Back" />
</div>
<div class="col-md-10">

</div>
   </div>
   
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Clear {{person.last_name}} {{person.first_name}} from the PDTP Program?</h4>
        
      </div>
      <div class="modal-body">
      {% if person.pdtpexitrequest.pdtp_requested == True %}
     <div class="row">
          <div class="col-md-6">
         {{person.last_name}}'s Clearance Request:
          </div>
          <div class="col-md-6">
          {{person.pdtpexitrequest.exit_request}}
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
          Date Submitted:
          </div>
          <div class="col-md-6">
          {{person.pdtpexitrequest.date_of_request}}
          </div>
          </div>
          {% if person.pdtpexitrequest.approved_by_supervisor == True %}
          <div class="row">
          <div class="col-md-6">
          Approved By Supervisor:
          </div>
          <div class="col-md-6">
          Yes
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
          Supervisor's Comment:
          </div>
          <div class="col-md-6">
         {{person.pdtpexitrequest.supervisor_comment}}
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
       Date Approved By Supervisor
          </div>
          <div class="col-md-6">
          {{person.pdtpexitrequest.date_approved_by_supervisor}}
          </div>
          </div>
          {% else %}
          <div class="row">
          <div class="col-md-6">
          Approved By Supervisor:
          </div>
          <div class="col-md-6">
          Not Yet
          </div>
          </div>
          {% endif %}
           {% if person.pdtpexitrequest.approved_by_secretariat == True %}
          <div class="row">
          <div class="col-md-6">
          Approved By Secretariat:
          </div>
          <div class="col-md-6">
          Yes
          </div>
          </div>
          <div class="row">
          <div class="col-md-6">
       Date Approved By SSecretariat
          </div>
          <div class="col-md-6">
          {{person.pdtpexitrequest.date_approved_by_secretariat}}
          </div>
          </div>
          {% else %}
          <div class="row">
          <div class="col-md-6">
          Approved By Secretariat:
          </div>
          <div class="col-md-6">
          Not Yet
          </div>
          </div>
          {% endif %}
          {% else %}
          {{person.last_name}} {{person.first_name}} has not made an exit request

        
{% endif %}

          <form  method="POST" action="{% if from %}?next={{ from }}{% endif %}" class="form">
 {% csrf_token %}


        {% bootstrap_form form %}
     <button  type="submit" class="btn btn-danger odom-submit" >Clear</button>
     </form>
      </div>
      
  
{% endblock %}