{% extends 'base.html' %}
{% load staticfiles %}
{% block top_title %}
{{year }} TRAININGS AND CERTIFICATIONS
{% endblock %}
{% block top_section %}
{% block tables_css %}
<!-- DataTables -->

{% endblock %}
<section class="content-header">
      <h1>
         {{user.userprofile.user_category}} PORTAL
        <small> <font color="green"><b>You are here >></b></font></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Deployments</a></li>
       
      </ol>
    </section>
    {% endblock %}
     {% block table_title %}
            

                       <div class="row">
     <div class="col-md-5">
              <h3 class="box-title  btn-red">{{year}} TRAININGS AND CERTIFICATIONS
</h3>
</div>
<div class="col-md-7">
{% include 'secretariat/links.html' %}
              </div>
              </div>
            {% endblock %}
{% block content %}
 <div class="row">
 <div class="col-md-2 col-xs-4 col-sm-4">
   <a href="{% url 'add_record' %}" class="button btn btn-sm btn-primary">Add Record</a> 
 </div>

 <div class="col-md-2 col-xs-4 col-sm-4">
 
    <input action="action" onclick="window.history.go(-1); return false;" class="button btn btn-primary btn-sm" type="button" value="Back" />
 </div>
</div>
 <table id="example" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                  
                  <th>Certification Body</th>
		  <th>Category</th>
                  <th>Mode</th>
                  <th>Course</th>
                  <th>Status</th>
                  <th>Certificate</th>
                  <th>Certificate No</th>
                  <th>Update</th>
                  <th>Delete</th>
                  
                  
                  
                </tr>
                </thead>
                <tbody>

                {% for training in trainings %}
                
                <tr>
                  
                  <td>{{training.institution}}</td>
                  <td>{{training.course.category}}</td>
                  <td>{{training.mode}}</td>
                  <td>{{training.course}}</td>
                  
                  <td>{{training.status}}</td>
                  <td>{{training.cert}}</td>
                   <td>{{training.cert_no}}</td>

                  <td> <a href="{% url 'update_training_record' training.id %}?from={{ request.path|urlencode }}"><span class="button btn btn-sm btn-primary glyphicon glyphicon-edit"></span></a></td>
                  <td> <a href="{% url 'delete_record' training.id %}?from={{ request.path|urlencode }}"><span class="button btn btn-sm btn-danger glyphicon glyphicon-trash"></span></a></td>
                  
                  
                  
                  
                </tr>
               
                {% endfor %}
               </tbody>
  </table>



  
  


    <!-- /.content -->{% endblock %}
  
  {% block tables_js_script %}
  <!-- DataTables -->
 <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
  <link rel="stylesheet" href="{% static 'rescripts/jquery.dataTables.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'rescripts/buttons.dataTables.min.css' %}"> 

<script type="text/javascript" src="{% static 'rescripts/jquery.dataTables.min.js' %}"></script>

<script type="text/javascript" src="{% static 'rescripts/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rescripts/buttons.colVis.min.js' %}"></script>
<script src="{% static 'rescripts/buttons.flash.min.js' %}"></script> 
<script src="{% static 'rescripts/jszip.min.js' %}"></script> 
<script src="{% static 'rescripts/pdfmake.min.js' %}"></script> 
<script src="{% static 'rescripts/vfs_fonts.js' %}"></script> 
<script src="{% static 'rescripts/buttons.html5.min.js' %}"></script> 
<script src="{% static 'rescripts/buttons.print.min.js' %}"></script> 
<script>

$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [

            {

                extend: 'colvis',
                postfixButtons: [ 'colvisRestore' ]
            },
            {
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, ':visible' ]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },

        ],
        columnDefs: [
            { "visible": false, "targets": [8] }
        ]
    } );
} );
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}
