

<p>
I am writing  to inform you that we would like to have your catering service for our upcoming {{event }} celebration.
</p>
<p>
Because we are not much aware of the variety of services that you offer we would be glad if you inform us about your various meal plans and services. We are highly interested in hiring your services with the hope to get nothing but the best.</p>

<p>Below are additional information regarding the event:</p>
<ul>
<li><strong>Event:</strong> {{event}} celebration</li>
<li><strong>Location:</strong> {{location}}</li>
<li><strong>Number of Guests:</strong> {{guests}}</li>
<li><strong>More Info:</strong>{{more}}</li>
</ul>
<p>Kindly contact us immediately with your plans and offers that matches up to our needs. You can reach us at {{cell}} or {{email}}. </p>
<p>We look forward to working with you.</p>
<p>Sincerely,<p>
<p>{{name}},<br>

{{cell}},<br>

{{email}}.</p>

